.rdt_TableRow{
    padding: 35px 0px;
}
.sc-bqiRlB{
    margin-right: -3px;
    margin-left: -3px;
}

.act{
    padding: 8px 30px;
    background: #E3FFEF;
    border-radius: 50px;
    display: block;
    width: fit-content;
    margin-bottom: 10px;
    color: #27AE60;
}

.noact{
    width: fit-content;
    padding: 8px 30px;
    background: #E3FFEF;
    border-radius: 50px;
    display: block;
    margin-bottom: 10px;
    color: #FC4C59;
    background-color: #FFF0F0;
}

.column-action{
    margin-left: 30px;
}

//organization css

.btn_og_users{
    border: 1px solid #D4D4D4;
    border-radius: 5px;
}

.btn_og_img{
    padding: 5px;
}

.og_manage{
    margin-left: -10px;
}

.rdt_TableRow{
    padding: 20px 0px;
}